@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-size: 2rem;
    font-family: "Roboto", "Helvetica Neue";
}

.block {
    width: 30vw;
    height: 30vw;
    background-color: black;
    color: #fff;
    padding: 2rem;


}

.left {
    float: left;
    margin-right: 1rem;

}

.right {
    float: right;
    margin-right: 1rem;

}

.clear {
    clear: both;
}

section {
    background-color: bisque;
    border: 2px solid black;
    padding: 1rem;
    /* overflow: auto */
    display: flow-root;
}