@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica Neue";
    min-height: 200vh;

}

.outer-container {
    border: 3px dashed black;
    width: 75vw;
    height: 85vh;
    margin: 40px auto;
    position: relative;

}

.inner-container {
    border: 3px solid blue;
    width: 40vw;
    height: 50vh;
    margin: 200px auto;

}

.box {
    width: 150px;
    height: 150px;
    color: #fff;
    padding: 1rem;
}

.absulote {
    background-color: blue;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;

}

.relative {
    background-color: red;
    position: relative;
    top: 300px;
    left: 100px;
}

.fixed {
    background-color: green;
    position: fixed;
    top: 100px;
}

.sticky {
    background-color: black;
    position: sticky;
    top: 0;
}