/* CSS Typography */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* GENERIC FONT-STYLE 
    sanserif
    monospace and ect..

*/

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif
}

/* inherit */
/* input,
button {
    font: inherit;
} */

/* text-deocaration properties 
    text-transform properties
    text-align propertie
    line-height properties
    font properties 


*/
p {
    line-height: 1.5;

}