/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif
}

/* list-style-type */

ol {
    list-style-type: none;
    padding: 0;
}

ul {
    list-style-type: square;
    list-style-position: inside;
    text-align: center;
    line-height: 1.6;
    /* list-style-image: url('../images/icons8-check-mark-48.png');
    list-style: square url('../images/icons8-check-mark-48.png') inside; */
}

ul li:nth-child(even) {
    color: red;
}

ul ::marker {
    color: red;
    font-family: fantasy;
    font-size: 1em;
    content: "only pesos 5 >>";
}