@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-size: 2rem;
    font-family: "Roboto", "Helvetica Neue";
}

.columns {
    /* column-count: 4;
    column-width: 250px; */

    /* short hand */

    columns: 4 250px;
    column-rule: 3px solid #333;
    column-gap: 3rem;
}


.columns p {
    margin-top: 0;
}

.columns h2 {
    margin-top: 0;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    break-inside: avoid;
}

.quote {

    font-size: 3rem;
    color: blue;
    text-align: center;
    column-span: all;
}