@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-size: 2rem;
    font-family: "Roboto", "Helvetica Neue";
    min-height: 100vh;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 50px auto 50px;
    grid-template-areas:
        "hd hd hd hd hd hd hd hd hd"
        "mn mn mn mn mn mn mn sb sb"
        "ft ft ft ft ft ft ft ft ft";
    column-gap: 2rem;
}

.el {
    background-color: rebeccapurple;
    color: #fff;
    display: grid;
    place-content: center;
}

.header {
    grid-area: hd;
}

.sidebar {
    grid-area: sb;
    background-color: blue;
}

.footer {
    grid-area: ft;

}

.box {
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
}

.container {
    grid-area: mn;
    min-height: 400px;
    display: grid;
    /* grid-auto-flow: column; */
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: 2fr 1fr 1fr; */


    /* short hand  */
    grid-template-columns: repeat(2, 1fr 2fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 1em;
}

.box {
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
}

.box:first-child {
    background-color: blue;
    /* grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3; */

    /* short hand */
    grid-column: 1/4;
    grid-row: 1/3;

    display: grid;
    /* align-items: center;
    justify-content: center; */

    place-content: center;

}

.box:nth-child(2) {
    background-color: purple;
    grid-column: 1 / 5;
    grid-row: 3/4;

}