/* reset */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: papayawhip;
    color: darkblue;
}



p {
    /* color: rgba(red, green, blue, alpha) */
/* color : green */

/* fonts-size 16px is default */
/* fonts-size 1rem is default */

/* body {
    min-height: 100vh;
}



main {
    font-size: 10rem;
    width: 50%;

}

p {
    font-size: 2rem;
    width: 40ch;
 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* outline-offset: -20px;  ======> inside the border box  */
.container {
    border: 10px double red;
    width: 400px;
    padding: 1.5rem;
    /* margin-top: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-left: 2em; */
    margin: 1.5em 2em;
    outline: 5px solid purple;
    outline-offset: -20px;
}

/* ==[BOX-MODEL] */
.circle {
    background-color: gold;
    width: 100px;
    height: 100px;
    margin: 3rem auto;
    border: 2px solid black;
    outline: 2px solid red;
    outline-offset: 0.25rem;
    border-radius: 50px;
}

/* header {s
    width: 80%;
} */