@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    font-family: "Roboto" sans-serif;
    min-height: 100vh;
    padding: 20px;
}

.container {
    max-width: 800px;
    min-height: 400px;
    background-color: blanchedalmond;
    margin-inline: auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    align-content: space-evenly;

}

.box {
    /* min-width: 100px; */
    height: 100px;
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    /* 
    flex-shrink: 1;
    flex-basis: 250px; */

    flex: 1 1 250%;
}

.box:nth-child(2) {
    /* flex-shrink: 2; */

    flex: 2 2 250%;
    order: 
    
    
    
    
    
    
    1;
}