@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Begin Resest */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || GENERAL STYLES */

body {
    font: 1.5rem "Nunito", sans-serif;
    min-height: 100vh;
    background-color: gray;
    background-image: radial-gradient(whitesmoke, #475569);

    display: flex;
    flex-direction: column;
}


header,
nav,
main,
footer {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}


header,
footer {
    background-color: pink;

    position: sticky;
    color: black;
}

header {
    top: 0;
}

nav {
    background-color: #fff;
    color: black;
    padding: 0.5rem;
    border-bottom: 2px solid #000;
}

main {
    flex-grow: 1;
}

footer {
    bottom: 0;
}





/* MOBILE(small) RESPOSIVE */
@media screen and (min-width: 567px) {
    body {
        background-color: green;
        background-image: radial-gradient(whitesmoke, green);
    }

    nav {
        display: none;
    }
}


/* TABLET(medium) RESPOSIVE */
@media screen and (min-width: 786px) {
    body {
        background-color: gold;
        background-image: radial-gradient(whitesmoke, gold);
    }

}



/* DES(large) RESPOSIVE */
@media screen and (min-width: 990px) {
    body {
        background-color: firebrick;
        background-image: radial-gradient(whitesmoke, firebrick);
    }

}

/* DEXTOP (X-larger)RESPONSIVE */
@media screen and (min-width: 1200px) {
    body {
        background-color: rebeccapurple;
        background-image: radial-gradient(whitesmoke, rebeccapurple);
    }

}

/* || MOBILE DEVICE LANSCAPE */
@media screen and (max-width: 425px) and (min-aspect-ratio: 7/4) {
    body {
        background-color: dodgerblue;
        background-image: radial-gradient(whitesmoke, dodgerblue);
    }


    h1,
    h2 {
        font-size: 1.5rem;
    }

    nav {
        display: none;
    }

    h1,
    h2 {
        font-size: 1.5rem;
    }

    nav {
        display: none;
    }
}