@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-size: 2rem;
    font-family: "Roboto" sans-serif;
}

/* main {
    background-color: aqua;

} */

/* p -- is block level element */
/* p {
    background-color: lightgray;

} */

/* from inline element we could be to transform or convert into display block */
/* .opposite {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 4rem;
    margin-top: 100px;
    height: 200px;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0.5rem;
    text-align: right;
    background-color: lightgray;
    margin: 0;
}

li {
    display: inline-block;
    margin-inline: 0.5rem;
}

li a {
    color: white;
    text-decoration: none;

}

li a:hover,
li a:focus {
    background-color: orange;
    color: green;
}