@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Begin Resest */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    min-height: 100vh;
    background-color: aliceblue;
    background-image: url('imagee/p-4.png'),
        linear-gradient(to left, black, #fff);
    background-repeat: repeat-y, no-repeat;
    background-position: right;
    background-size: 20% auto;
}