@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Begin Resest */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* End Reset  */
.nowwrap {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -1000px;
}

/* Utility Classes */
/* End Utility Classes */
body {
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
}

.container {
    background-color: rgb(251, 210, 156);
    background-image: url('imagee/background.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

}

.hero {
    border-bottom: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background-color: hsla(0, 32%, 9%, 0.295);

}

.h1 {
    font-size: 500%;
    color: aliceblue;
    text-shadow: 2px 2px 5px black;

    padding: 0.25rem;
    border-radius: 10px;
}

/* responsive the image */
.profile-pic-figure {
    width: 35%;
}

.profile-pic-figure img {
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
    border-radius: 50%;
}

/* end */

.example {
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid red;
}

.example img {
    width: 25%;
    height: auto;
}